/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap.min.css
 */

.map_container img {
  max-width: none;
}
.map_container label {
  width: auto; display:inline;
}

.show_capsule_map_container .map_container {
  width: 620px;
  height: 260px;
  border: none;
  padding: 0;
}

.show_capsule_map_container .gmaps4rails_map {
  width: 620px;
  height: 260px;
}