<ul class="nav nav-tabs secondary-nav">
  <li><a class="active" href="#allCapsules" data-toggle="tab"><%=t 'index.all_capsuls' %></a></li>
  <li><a href="#myCapsules" data-toggle="tab"><%=t 'index.my_capsuls' %></a></li>
  <li><a href="#newCapsules" data-toggle="tab"><%=t 'index.new_capsul' %></a></li>
  <li></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="allCapsules"></div>
  <div class="tab-pane" id="myCapsules"></div>
  <div class="tab-pane" id="newCapsules"></div>
</div>
