<ul class="nav nav-tabs secondary-nav">
  <li><a class="active" href="#allCapsules" data-toggle="tab">All capsules</a></li>
  <li><a href="#myCapsules" data-toggle="tab">My capsules</a></li>
  <li><a href="#newCapsules" data-toggle="tab">New capsule</a></li>
  <li></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="allCapsules"></div>
  <div class="tab-pane" id="myCapsules">...</div>
  <div class="tab-pane" id="newCapsules">...</div>
</div>
