%div{"when-scrolled" => "loadMore()"}
  %h1.well Capsule View
  .well
    Search
    %input{"type" => "test"}
  %ul.thumbnails
    %li
      .well{"ng-repeat" => "capsule in items", "style" => "float:left;width:450px;margin:20px"}
        {{capsule.content}}
        %iframe{"frameborder" => "0", "width" => "480", "height" => "360", "src" => "http://www.dailymotion.com/embed/video/xrl8lu"}

