%div{"ng-controller" => "UsersCtrl"}
  %h1.well Sign In
  .well
    %label
      Username
    %input{"type" => "text", "ng-model" => "newUser.response.username"}
    %label
      Password
    %input{"type" => "text", "ng-model" => "newUser.response.password"}
    %br
    %button{"ng-click" => "login()"}
      Register
  