%div
  %h1.well User View
  %div.well.span12
    %div.well.span3
      %br
      %br
      %br
      Photo
      %br
      %br
      %br
      %br
    %div.well.span3
      %label
        Id: {{currentUser.id}}
      %label
        Username: {{currentUser.username}}
